@import '../../assets/styles/variables.scss';

.ResetPassword-Box{
    position: absolute;
    display: flex;
    padding: 15px;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bacground-color;
    color: $main-color;
    outline: none;
    max-width: 500px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}