@import './variables.scss';

.AuthView-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    .AuthView{
        max-width: 700px;
        width: 100%;
        .AuthView-logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            .AuthView-logoImage{
                height: 250px;
                width: 250px;
                margin-bottom: 15px;
            }
            .AuthView-logoTitle{
                font-family: $logo-font;
                font-weight: 100;
                font-size: 86px;
                letter-spacing: 15px;
                
            }
        }
        .AuthView-form{
            color: $main-color;
            padding: 0px 50px;
            .AuthView-formControl{
                margin-bottom: 24px;
                .MuiFormControl-root{
                    width: 100%;
                    .MuiInputBase-root{
                        color: $main-color;
                        input{
                            padding: 5px;
                        }
                    }
                }
                &.AuthView-loginOptions{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .AuthView-PasswordReset{
                        cursor: pointer;
                        text-decoration: underline;
                        color: rgba(0, 0, 0, 0.6);
                        &:hover{
                            color: $primary-color-hover;
                        }
                        &:active{
                            color: $primary-color-active;
                        }
                    }
                }
            }
            .AuthView-formSubmit{
                display: flex;
                align-items: center;
                justify-content: center;
                button{
                    color: $font-color-main;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
                    font-size: 20px;
                    padding: 10px 40px;
                    background-color: $main-color;
                    &:hover{
                        background-color: $main-color-hover;
                    }
                }
                &.AuthView-Register{
                    padding-top: 24px;
                }
            }
            hr{
                margin: 25px 0px;
            }
        }
        .AuthView-registerSwitch{
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                color: $primary-color;
                &:hover{
                    color: $primary-color-hover;
                }
                &:active{
                    color: $primary-color-active;
                }
            }
        }
    }
}